body
{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background-image: url("glitch.jpg");
    overflow: hidden;
}
.box
{
    width:  300px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 0 10px -10px yellowgreen, -8px 0 10px -10px yellowgreen;
    background: rgba(22, 22, 22, 0.9);
    text-align: center;
    border-radius: 10px;
}
.box img[class = "image"]
{
    margin-left: -4px;
}
.box input[type = "username"],.box input[type = "password"]
{
    border:0;
    display: block;
    background: none;
    margin: 20px auto;
    text-align: center;
    border : 2px solid white;
    padding: 15px 10px;
    width : 200px;
    outline : none;
    color : white;
    border-radius: 25px;
    transition: 0.4s;
}
.box input[type = "username"]:focus,.box input[type = "password"]:focus
{
    width : 280px;
    transition: 0.4s;
    border-color : greenyellow;
}
.box input[type = "submit"]
{
    border:0;
    display: block;
    background: none;
    margin: 20px auto;
    text-align: center;
    border : 2px solid yellowgreen;
    padding: 15px 15px;
    width : 100px;
    outline : none;
    color: whitesmoke;
    border-radius: 30px;
    cursor: pointer; 
}
.box input[type = "submit"]:hover
{
    background: yellowgreen;
}
